= simple_form_for @profile do |f|
  %fieldset
    %legend Profile Settings
    .form-inputs
      = f.error_notification
      = f.input :wants_email_notifications,
        label: "Email me with activation updates.",
        wrapper: :checkbox
      = f.input :time_zone
    .form-actions
      = f.button :submit, class: 'btn btn-primary'
= link_to "Invite people", new_user_invitation_path, class: "btn"
