%h2
= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
  = f.error_notification
  %fieldset
    %legend Edit #{resource_name.to_s.humanize}
    .form-inputs
      = f.input :email, required: true, autofocus: true
      = f.input :password, :autocomplete => "off", required: false
      = f.input :password_confirmation, required: false
      = f.input :current_password, required: true
      = f.input :wants_email_notifications,
        label: "Email me with activation updates.",
        wrapper: :checkbox
    .form-actions
      = f.button :submit, "Update"
