%fieldset
  %legend New activation
  = simple_form_for(@activation) do |f|
    = f.error_notification

    .form-inputs
      = f.input :title
      = f.input :location
      = f.input :description

    .form-actions
      = f.button :submit, class: 'btn btn-primary'
