%p.notice= notice

%h1= @activation.title
%p= @activation.location
%p= @activation.description

= link_to "Edit", edit_activation_path(@activation), class: "btn"
= link_to "Destroy", @activation, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger"
= link_to "Back", activations_path
