.row
  .span8.page-header
    %h1.pull-left
      = @activation.title
      %small 
        = @activation.location
        = l(@activation.created_at)
  .span8
    .btn-group.pull-right
      %a.btn.dropdown-toggle{href: "#", data: {toggle: "dropdown"}} 
        Actions
        %span.caret
      %ul.dropdown-menu
        %li
          = link_to "Edit", edit_activation_path(@activation)
        %li.divider
        %li
          = link_to "Delete Activation", @activation, 
            method: :delete, 
            data: { confirm: "Are you sure?" }
    = simple_format(@activation.description, class: "lead")

.row
  .span8
    - @activation.comments.each do |comment|
      .comment.row
        .span6
          %h3= comment.teaser
          %blockquote
            %p
              = simple_format(comment.body)
            %small= authorship_details_for(comment)
          %small.pull-right= link_to "Edit", 
            edit_activation_comment_path(@activation, comment.id)

    = simple_form_for [@activation, @comment] do |f|
      %legend Post an Update
      .form-inputs
        = f.input :title, label: false, placeholder: "Title"
        = f.input :body, 
          label: false, 
          placeholder: "Message", 
          input_html: { class: "input-xxlarge", rows: 10 }
      .form-actions
        = f.button :submit, "Post Update", class: "btn btn-primary pull-right"
