%h2 Sign in
= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
  .form-inputs
    = f.input :email, autofocus: true
    = f.input :password
  .form-actions
    = f.button :submit, "Sign in"
    = render "devise/shared/links"
